body {
    text-align: center;
    width: 100%;
    margin: 0 auto;

    margin-bottom: 10%;
    background-size: contain; 
    background-color: black;
    align-items: center;
}
.background {
    width: 100vw;
    height: 100vh;
    z-index: 3;
    border-radius: 25%;
    background-size: contain;
}


@font-face { 
    font-family: "Georgia Bulldog";
    src: url('fonts/ncaa_georgia_bulldog_bold-webfont.woff2') format('woff2'),
         url('fonts/ncaa_georgia_bulldog_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3{
    font-family: "Georgia Bulldog";
    color: #e60e0e;
}

h1 {
    font-size: 35px;
}

h2 {
    font-size: 28px;
    
}

h4 {
    color:#ffffff;
}

.navLinks {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    z-index: 0;
}

p {
    color: #ffffff;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 25%;
    margin-right: 25%;
    
}

.portrait {
    display: block;
    margin: auto;    
}

footer {
    background-color: #e60e0e;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 99;
}
.gallery {
    display: flex;
    flex-wrap:wrap;
    grid-template-columns: auto auto auto auto;
}
.gallery img {
    width:450px;
    height:350px;
    border-radius: 15px;
    padding-left: 20px;
    padding-top: 20px;
    margin: auto;
    overflow: auto;
}

.right {
    float: right;
    transform: rotatez(45deg);
    z-index: 0;
    overflow: hidden;
    padding: 1%;
    position: relative;
}

.left {
    float: left;
    transform: rotatez(-45deg);

    z-index: 1;
    overflow: hidden;
    padding: 1%;
    position: relative;
}
a {
    color:#ffffff;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 99;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color:#ffffff;
}


@media only screen and (max-width: 1340px) {
    .right {
        display: center;
        margin-left: auto;
        z-index: 1;
        transform: rotateZ(-45deg);
        justify-content: center;
        overflow: visible;
        width: 100%;
        padding: 10% 0% 0% 0%;
    }

    .left {
        display: center;
        margin:auto;
        transform: rotateZ(45deg);
        align-content: center;
        overflow: visible;
        justify-content: center;
        width: 100%;
        padding: 0%;
    }

    .right img{
        transform: rotateZ(45deg);
        width: 100%vh;

    }

    .left h2 {
        display: none;
    }

    .right h2 {
        display: none;
    }
    

    .left img{
        width: 100%vh;
        transform: rotateZ(-45deg);
    }

    a{
        display: inline-block;
        padding-bottom: 3%;
        position: relative;
    }

}