/*      Developer: Timmy Bell
      Creation Date: 01/08/2023
              Class: CSD-340
         Assignment: Module 4.3 Assignment */

         h1 {
            font-family: "Oswald", Verdana, Arial, sans-serif;
            text-align: center;
         }
         
         h3 {
            font-weight: 500;
         }
         .content {
            overflow: auto;
         }
         .left-div, .right-div {
            width: 45%;
            padding: 10px;
         }

         .left-div {
            float: left;
            font-family: "Oswald", Verdana, Arial, sans-serif;
            border: 1px solid red;
            border-radius: 15px;
            
         }

         .right-div {
            float: right;
            font-family: "Oswald", Verdana, Arial, sans-serif;
            border: 1px dashed red;
            border-radius: 15px;
            
         }

         ol {
            padding: 10px;
            list-style-position: inside;
         }

         li {
            font-weight: 300;
         }

         ul {
            padding: 10px;
            list-style: upper-roman;
            list-style-position: inside;
         }

         .last {
            width: 100%;
            margin-top: 60%;
            margin-bottom: 20px;
         } 
        
         a {
            font-family: "Oswald", Verdana, Arial, sans-serif;
            text-decoration: none;
         }

         .last a:first-of-type {
            font-size: x-large;
         }

         .last a:last-of-type {
            float: right;
         }

         a:hover {
            text-decoration: underline;
         }

